<%=  form_for([:admin, @water_type] ,:html => {:role => "form"}) do |f| %>
  <% if @water_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water_type.errors.count, "error") %> prohibited this admin_water_type from being saved:</h2>

      <ul>
      <% @water_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="category">Category</label>
    <%= f.text_field :category, class: "form-control", placeholder: "Water category"%>
  </div>

  <%= button_tag "Submit", class: "btn btn-primary" %>
<% end %>
