<header>
   <%= render 'shared/hero_image' %>
    <div class="image-trans">
        <div class="container col-md-offset-2 col-md-8">
            <div class="intro-text">
                <div class="intro-lead-in">Find wild places to catch wild fish</div>
            </div>
        </div>
        <% if @water.hero_image.present? && @water.hero_image.attribution.present? %>
            <div class="attribution">
                Image &copy; Copyright
                <a href="<%= @water.hero_image.attribution['profile_url'] %>"><%= @water.hero_image.attribution['name'] %></a>
                and licensed for reuse under this
                <a href="<%= @water.hero_image.attribution['licence'] %>">Creative Commons Licence</a>.
                <a href="<%= @water.hero_image.attribution['photo_url']%>">More information about this image at Geograph</a>.
            </div>
        <% end %>
    </div>
</header>
<div id="suggested-search"></div>
