<%= render "navigation" %>
<header style="background-image: url(<%= asset_path "header0#{[1,2,3].sample}-bg.jpg" %>);">
    <div class="image-trans">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Let's go fishing!</div>
                <div class="intro-lead-in">Discover new places to go fly fishing</div>
            </div>
        </div>
        <div class="row search">
            <div class="col-md-6 col-md-offset-3 col-md-12">
              <div id="suggested-search"></div>
            </div>
        </div>
    </div>
</header>
<%= render "destinations" %>
<%= render "fisheries" %>
<%= render "waters" %>
<%= render "how_it_works" %>
