<%= render "shared/navigation" %>
<%= render "header" %>
<div data-controller="hello">
    <input data-hello-target="name" type="text">
     <button data-action="click->hello#greet">Greet</button>
</div>
<%= render "featured_waters" %>
<%= render "destinations" %>
<%= render "fisheries" %>
<%= render "waters" %>
<%= render "waters_with_articles" %>
<%= render "trips" %>
<%= render 'shared/contributor', locals: { background_color: false }%>
