<%= render "navigation" %>
<header style="background-image: url(<%= asset_path "header0#{[1,2,3,4].sample}-bg.jpg" %>);">
    <div class="image-trans">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Let's go fishing!</div>
                <div class="intro-lead-in">Discover new places to go fly fishing</div>
            </div>
        </div>

       <!--  <div class="row search"> -->
           <!--  <div class="col-md-6 col-md-offset-3 col-md-12">
                <form id="search" accept-charset="UTF-8" class="form-inline" role="form" method="get" action="search">
                    <div class="input-group">
                      <input type="text" class="form-control input-lg" name="location" id="location" placeholder="Where do you want to go?">
                      <span class="input-group-btn">
                        <button class="search btn btn-default btn-lg" type="submit"><i class="fa fa-search"></i><span>Search</span></button>
                      </span>
                    </div>
                </form>
            </div> -->
    <!--     </div> -->
    </div>
</header>
<%= render "destinations" %>
<%= render "fisheries" %>
<%= render "waters" %>
<%= render "how_it_works" %>