<%= form_for(@insect) do |f| %>
  <% if @insect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insect.errors.count, "error") %> prohibited this insect from being saved:</h2>

      <ul>
      <% @insect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="form-group">
    <label for="insect_name">Name</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Insect name"%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
