<%= form_for([:admin, @fishery, @fishery.waters.build], :html => {:role => "form"}) do |f| %>
  <div class="form-group">
    <label for="water_name">Water Name</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter water name"%>
  </div>
  <div class="form-group">
    <label for="water_latitude">Latitude</label>
    <%= f.text_field :latitude, class: "form-control", placeholder: "latitude"%>
  </div>

  <div class="form-group">
    <label for="water_longitude">Longitude</label>
    <%= f.text_field :longitude, class: "form-control", placeholder: "longitude"%>
  </div>

  <div class="form-group">
    <%= button_tag "Submit", class: "btn btn-primary" %>
  </div>
<% end %>