<input id="map-search-box" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
<div class="pull-left">
<%= form_for([:admin,  @fishery, @water], :html => {:role => "form",  multipart: true }) do |f| %>
  <% if @water.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@water.errors.count, "error") %> prohibited this water from being saved:</strong>
        <ul>
        <% @water.errors.each do | attr, msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="water_name">Water Name</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter water name" %>
  </div>

  <% if !@water.address.nil? %>
    <div class="form-group">
      <label for="water_name">Water Address</label>
      <%= f.text_field :address, class: "form-control", placeholder: "Enter water address" %>
    </div>
  <% end %>
  <div class="form-group">
    <label for="description">Description</label>
      <%= f.text_area :description, class: "form-control", rows: 10, cols: 25%>
  </div>

  <div class="form-group">
    <label for="water_types">Photo</label>
      <%= file_field_tag(:file, multiple: false, name: "file[image]") %>
  </div>
  <div class="form-group">
    <% image_src = (@water.images.first)? @water.images.first.image.url(:medium) : '/images/missing.png' %>
    <img src="<%= image_src %>" class="water" alt="<%= @water.name %>" itemprop="contentUrl">
  </div>

  <div class="form-group">
    <label for="attribution">Geograph Photo Id</label>
    <%= text_field :image, :geograph_photo_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="water_latitude">Latitude</label>
    <div id="display-latitude"></div>
    <%= f.hidden_field :latitude, class: "form-control", id:"latitude", placeholder: "latitude" %>
  </div>

  <div class="form-group">
    <label for="water_longitude">Longitude</label>
    <div id="display-longitude"></div>
    <%= f.hidden_field :longitude, class: "form-control", id:"longitude", placeholder: "longitude" %>
  </div>

  <div class="form-group">
    <label for="water_species">Fish species</label>
    <%= collection_check_boxes(:water, :species_ids, Species.all, :id, :name) do |b| %>
    <div class="checkbox">
      <%= b.check_box %>
      <%= b.label { b.text.capitalize } %>
    </div>
    <% end %>
  </div>

  <div class="form-group">
    <label for="water_types">Water Type</label>
      <%= collection_radio_buttons(:water, :water_type_id, WaterType.all, :id, :category) do |b| %>
      <div class="radio">
        <%= b.radio_button%>
        <%= b.label { b.text.capitalize } %>
      </div>
      <% end %>
  </div>

  <div class="form-group">
    <%= button_tag "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
