<h1><%= @fishery.name.possessive %> waters</h1>
<% if @fishery.waters.exists? %>
  <table class="table table-striped waters">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Species of fish</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <% @fishery.waters.each do |water| %>
        <tr class="water">
          <td><%= water.id %></td>
          <td><%= water.name %></td>
          <td><%= water.species.map{|s| s.name }.join(', ') %></td>
          <td></td>
          <td>
            <%= link_to 'edit', edit_admin_fishery_water_path(@fishery, water), class: 'btn btn-default btn-sm edit' %>
          </td>
          <td>
            <%= link_to 'destroy', admin_fishery_water_path(@fishery, water), method: :delete, data: { confirm: "Are you sure you want to delete #{water.name}" }, class: 'btn btn-default btn-sm btn-danger destroy'
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'New Water', new_admin_fishery_water_path(@fishery), class: 'btn btn-primary' %>