<%= form_for([:admin, @fishery], :html => {:role => "form"}) do |f| %>
  <% if @fishery.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@fishery.errors.count, "error") %> prohibited this fishery from being saved:</strong>
      <ul>
      <% @fishery.errors.each do | attr, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="fishery-name">Fishery Name</label>
    <%= f.text_field :name, class: "form-control", id:"fishery-name", placeholder: "Enter fishery name"%>
  </div>
  <div class="form-group">
    <label for="map-zoom-level">Google Map Zoom Level</label>
    <%= f.select(:map_zoom_level, [*1..20]) %>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
      <%= f.text_area :description, class: "form-control", id:"fishery-description", rows: 10, cols: 25%>
  </div>


  <%= render 'contact_details', form: f %>
  <%= render 'address',         form: f %>

  <div class="form-group">
     <label for="publish">Publish this fishery</label>
      <div class="radio">
        <%= label :publish, "Unpublished" %>
        <%= radio_button :fishery, :published, false %>
      </div>
      <div class="radio">
        <%= label :publish, "Publish" %>
        <%= radio_button :fishery, :published, true %>
      </div>
  </div>
  <div class="form-group">
    <%= button_tag "Submit fishery details", class: "btn btn-warning  m-p-top17
 pull-right" %>
  </div>
<% end %>
