<%= form_for([:admin, @fishery], :html => {:role => "form"}) do |f| %>
  <% if @fishery.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@fishery.errors.count, "error") %> prohibited this fishery from being saved:</strong>
      <ul>
      <% @fishery.errors.each do | attr, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="search-details">Search for a fishery's details</label>
    <input type="text" class="form-control" id="search-details" name="search-details" placeholder="Type the fishery here">
  </div>
  <div class="form-group">
    <label for="fishery-name">Fishery Name</label>
    <%= f.text_field :name, class: "form-control", id:"fishery-name", placeholder: "Enter fishery name"%>
  </div>
  <div class="form-group">
    <label for="place-id">Google Place ID</label>
    <%= f.text_field :place_id, class: "form-control", id:"place-id" %>
  </div>

  <%= render 'contact_details', form: f %>
  <%= render 'address',         form: f %>

  <div class="form-group">
    <%= button_tag "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
