<%= render 'navigation' %>
<section id="your-fisheries" class="container top17">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h2 class="bottom44">Manage your fishery</h2>
          <% @fisheries.each do |fishery| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><%= fishery.name %></h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12 fishery">
                    <% if !fishery.description.blank? %>
                      <p><%= simple_format fishery.description %></p>
                    <% end %>
                    <p class="text-muted"><%= fishery.address.formatted %></p>
                    <%= link_to 'Edit details', edit_admin_fishery_path(fishery), class: 'btn btn-default' %></td>
                    <%= link_to 'Preview', admin_fishery_path(fishery), class: 'btn btn-default' %>
                  </div>
                  <div class="row ">
                    <% if !fishery.waters.nil? && fishery.waters.exists? %>
                    <% fishery.waters.each do | water | %>
                        <% image_src = (water.images.first)? water.images.first.image.url(:medium) : '/images/missing.png' %>
                        <% image_styles = (water.images.first)? '' : 'missing-image' %>
                        <div class="col-md-4 col-sm-12 explore-item">
                            <a href="/waters/<%= water.slug %>" class="explore-link" >
                                <div class="image-background">
                                <img src="<%= image_src %>" class="img-responsive img-centered <%= image_styles %>" alt="<%= water.name %>" itemprop="contentUrl">
                                </div>
                            </a>
                            <div class="explore-caption">
                                <h4><%= water.name %></h4>
                                <p class="text-muted"><%= water.short_address %></p>
                            </div>
                        </div>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</section>

<% if @fisheries.exists? %>
  <h1>Fisheries</h1>
  <table class="table table-striped fisheries">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @fisheries.each do |fishery| %>
        <tr>
          <td><%= fishery.id %></td>
          <td><%= fishery.name %></td>
          <td><%= link_to 'show', admin_fishery_path(fishery), class: 'btn btn-default btn-sm' %></td>
          <td><%= link_to 'edit', edit_admin_fishery_path(fishery), class: 'btn btn-default btn-sm' %></td>
          <td><%= link_to 'destroy', admin_fishery_path(fishery), method: :delete, data: { confirm: "Are you sure you want to delete #{fishery.name}" }, class: 'btn btn-default btn-sm btn-danger'%>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-primary">waters</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'add', new_admin_fishery_water_path(fishery) %></li>
                <li><%= link_to 'show', admin_fishery_waters_path(fishery) %></li>
              </ul>

            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br />

<%= link_to 'New Fishery', new_admin_fishery_path, class: 'btn btn-primary' %>
