<p id="notice"><%= notice %></p>

<h1><%= @fishery.name %></h1>

<div class="panel panel-default">
  <div class="panel-heading">Location</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <% @fishery.location.each do | value | %> 
        <dt><%= value[0]%>&#58;</dt><dd><%= value[1]%></dd>
      <% end %>
    <dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Contact Details</div>
  <div class="panel-body">
     <dl class="dl-horizontal">
        <% @fishery.contact_details.each do | value | %>
          <dt><%=value[0]%>&#58;</dt><dd><%= value[1] %></dd>
        <% end %>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Other Details</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
        <dt>Fish Species:</dt>
          <dd><%= @fishery.species.map {|i| i.name.capitalize}.join(', ') %></dd>
        <dt>Insects:</dt>
          <dd><%= @fishery.insects.map {|i| i.name.capitalize}.join(', ') %></dd>
    </dl>
  </div>
</div>