<div id="results-container">
<% if @waters.exists? %>
<%
    count = 0
    @waters.each_slice(2).with_index do | waters | %>
        <div class="row">
            <% waters.each do | water |
                count +=1
            %>
                <div class="col-md-6 col-sm-6 result-item" itemscope itemtype="http://schema.org/Place">
                    <div itemscope itemtype="http://schema.org/BodyOfWater">
                        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                            <meta itemprop="latitude" content="<%= water.latitude %>" />
                            <meta itemprop="longitude" content="<%= water.longitude %>" />
                        </div>
                        <a href="#" class="result-link" itemprop="url" >
                            <div itemscope itemtype="http://schema.org/ImageObject">
                                <h2 itemprop="name" class="hidden"><%= water.name %></h2>
                                <img src="<%= asset_path('test-image.jpg') %>" class="img-responsive" alt="" itemprop="contentUrl">
                            </div>
                        </a>
                        <div class="result-caption clearfix">
                            <span class="fa-stack fa-3x pull-left">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-stack-1x fa-inverse"><%= count %></i>
                            </span>
                            <span class="pull-right">
                                <h4 itemprop="name" ><%= water.name %></h4>
                                <p itemprop="description" class="hidden" ><%= water.description %></p>
                                <p class="text-muted">Settle, North Yorkshire</p>
                                <p class="text-muted" ><%= water.species.map{|s| s.name }.join(', ') %>
                                <p class="text-muted"><%= water.water_type.category %></p>
                            </span>

                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>
</div>
