<div id="results-container">
<% if !@waters.nil? && @waters.exists? %>
<%
    count = 0
    @waters.each_slice(3).with_index do | waters | %>
        <div class="row">
            <% waters.each do | water |
                count +=1
            %>
                <div class="col-md-6 col-sm-6 result-item" itemscope itemtype="http://schema.org/Place">
                    <div class="title-header-outer">
                        <div class="title-header">
                            <h4 class="water-name" itemprop="name" ><%= water.name %></h4>
                            <span class="fa-stack fa-2x water-count">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-stack-1x fa-inverse"><%= count %></i>
                            </span>
                        </div>
                    </div>
                    <div itemscope itemtype="http://schema.org/BodyOfWater">
                        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                            <meta itemprop="latitude" content="<%= water.latitude %>" />
                            <meta itemprop="longitude" content="<%= water.longitude %>" />
                        </div>
                        <a href="/waters/<%= water.id %>" class="result-link" itemprop="url" >
                            <div class="image-background" itemscope itemtype="http://schema.org/ImageObject">
                                <h2 itemprop="name" class="hidden"><%= water.name %></h2>
                                <img src="<%= (water.images.first)? water.images.first.image.url(:medium) : '/images/missing.png' %>" class="img-responsive img-centered" alt="<%= water.name %>" itemprop="contentUrl">
                            </div>
                        </a>
                        <div class="result-caption">
                            <p itemprop="name" class="hidden"><%= water.name %></p>
                            <p itemprop="description" class="hidden"><%= water.description %></p>
                            <p class="text-muted"><%= water.address %></p>
                            <p class="text-muted" ><%= water.species.map{|s| s.name }.to_sentence %>
                            <p class="text-muted"><%= water.water_type.category %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>
</div>
