<h1>Listing waters</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Longitude,Latitude</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @waters.each do |water| %>
      <tr>
        <td><%= water.id %></td>
        <td><%= water.name %></td>
        <td><%= water.lng.to_s + "," + water.lat.to_s %></td>
        <td><%= link_to 'Show', water %></td>
        <td><%= link_to 'Edit', edit_water_path(water) %></td>
        <td><%= link_to 'Destroy', water_path(water), method: :delete, data: { confirm: "Are you sure you want to delete #{water.name}" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Water', new_water_path %>
