<%= render 'navigation' %>
<header style="background-image: url(<%=(@water.images.first)? @water.images.first.image.url(:large) : '/images/missing.png'%>)" class="img-responsive img-centered" alt="<%= @water.name %>">
    <div class="image-trans">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><%= @water.name %></div>
                <div class="intro-lead-in">managed by <%= @fishery.name %></div>
            </div>
        </div>
    </div>
</header>
<section id="about-this-water">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About this water</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <p class="text-muted"><p><%= @water.description %></p>
                <p class="text-muted"><%= @water.species.map{|s| s.name }.to_sentence %>
                <p class="text-muted"><%= @water.water_type.category %></p>
            </div>
        </div>
    </div>
</section>

<section id="location">
    <div class="container">
        <h4>The Location</h4>
        <p class="text-muted"><%= @water.address %></p>
    </div>
</section>

<section id="the-fishery">
    <div class="container">
        <h4>The Fishery</h4>
        <p class="text-muted"><%= @fishery.name %></p>
        <p class="text-muted"><%= @fishery.contact_details.name %></p>
        <p class="text-muted"><%= @fishery.address.street %>, <%= @fishery.address.line2 %>, <%= @fishery.address.region %>, <%= @fishery.address.postcode %>, <%= @fishery.address.country%></p>
        <p class="text-muted"><%= @fishery.contact_details.telephone %></p>
        <p class="text-muted"><%= @fishery.contact_details.mobile %></p>
        <p class="text-muted"><%= @fishery.contact_details.email %></p>
        <p class="text-muted"><%= @fishery.contact_details.website %></p>
    </div>
<section>
<section id="other-water-run-by-this-fishery" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Waters managed by this fishery</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <%= render '/search/results'%>
            </div>
        </div>
    </div>
</section>







