<%= render 'navigation' %>
<header style="background-image: url(<%=(@water.images.first)? @water.images.first.image.url(:large) : '/images/missing.png'%>)" class="img-responsive img-centered" alt="<%= @water.name %>">
    <div class="image-trans">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><%= @water.name %></div>
                <div class="intro-lead-in">managed by <%= @fishery.name %></div>
            </div>
        </div>
    </div>
</header>
<section id="about-this-water">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <%= render '/shared/water_type', locals: { category: @water.water_type.category }%>
                <%= render '/shared/fish_species', locals: { fish: @water.species.map{|s| s.name }.to_sentence } %>
                <%= render '/shared/location', locals: { location: @water.address } %>
            </div>
            <div class="col-md-9">
                <% if !@water.description.blank? %>
                    <h4>Description</h4>
                    <%= simple_format @water.description %>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section id="location">
    <div class="container">
        <div id="location-map" data-lat="<%=@water.latitude %>" data-lng="<%=@water.longitude%>"></div>
        <%= render '/shared/location', locals: { location: @water.address } %>
    </div>
</section>

<section id="the-fishery">
    <div class="container">
        <h4>Fishery</h4>
        <p><%= @fishery.name %></p>
        <p><%= @fishery.contact_details.name %></p>
        <p><%= @fishery.address.formatted %></p>
        <p><%= @fishery.contact_details.telephone %></p>
        <p><%= @fishery.contact_details.mobile %></p>
        <p><%= @fishery.contact_details.email %></p>
        <p><a href="<%= @fishery.contact_details.website %>"><%= @fishery.contact_details.website %></a></p>
    </div>
<section>
<section id="waters-managed-by-this-fishery" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Waters managed by this fishery</h2>
            </div>
        </div>
        <div class="row">
             <%= render '/search/results', { hide_water_count: true } %>
        </div>
    </div>
</section>







