<p id="notice"><%= notice %></p>

<h1>Water Details</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Longitude,Latitude</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @water.id %></td>
        <td><%= @water.name %></td>
         <td><%= @water.lng.to_s + "," + @water.lat.to_s %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_water_path(@water) %> |
<%= link_to 'Back', waters_path %>
