<%= render 'navigation' %>
<header style="background-image: url(<%=(@water.images.first)? @water.images.first.image.url(:large) : '/images/missing.png'%>)" class="img-responsive img-centered" alt="<%= @water.name %>">
    <div class="image-trans">
        <div class="container">
            <div class="intro-text" style="<%=(@image_attribution.blank?)? 'padding: 240px;' : ''%>" >
                <div class="intro-heading"><%= @water.name %></div>
                <div class="intro-lead-in">
                    managed by <a href="/fisheries/<%= @fishery.slug %>"><%= @fishery.name %></a>
                </div>
            </div>
        </div>
        <% if !@image_attribution.blank? %>
            <div class="attribution">
               Image &copy; Copyright
                <a href="<%= @image_attribution[:profile_url] %>"><%= @image_attribution[:name] %></a>
                and licensed for reuse under this
                <a rel="license" href="<%= @image_attribution[:licence] %>">Creative Commons Licence</a>.
                <a href="<%= @image_attribution[:photo_url]%>">More information about this image at Geograph</a>.
            </div>
        <% end %>
    </div>
</header>
<section id="about-this-water">
    <div class="container">
        <div class="row">
            <h4 class="m-bottom24">About this water</h4>
            <div id="weather-forecast" data-lat="<%=@water.latitude%>" data-lng="<%=@water.longitude%>"></div>
        </div>
        <div class="row">
            <div class="col-md-3 remove-padding-left p-bottom10">
                <%= render '/shared/water_type', locals: { category: @water.water_type.category.capitalize }%>
                <%= render '/shared/fish_species', locals: { fish: @species.map{|s| s.name.capitalize }.to_sentence } %>
                <%= render '/shared/location', locals: { location: @water.address } %>
            </div>
            <div class="col-md-9">
                <% if !@water.description.blank? %>
                    <p><%= simple_format @water.description %></p>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section id="location">
    <div class="container">
        <h4 class="m-bottom24">Location</h4>
        <div id="location-map" data-zoom="14" data-lat="<%=@water.latitude %>" data-lng="<%=@water.longitude%>"></div>
    </div>
</section>

<script type="application/ld+json">
    <%= raw render 'schema_org.json.jbuilder' %>
</script>







