<%= render 'shared/navigation' %>
<section class="container sitemap">
    <div class="row">
        <div class="col-md-12">
            <h2>Fly fishing in</h2>
            <h4>England, Scotland and Wales</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4>Destinations</h4>
            <ol class="list-unstyled">
                <li><a href="/assynt?location=Assynt+Scotland">Assynt, Scotland</a></li>
                <li><a href="/galloway?location=Galloway+Forest+Park+Scotland">Galloway Forest Park, Scotland</a></li>
                <li><a href="/jura?location=Isle+of+Jura">Isle of Jura, Scotland</a></li>
                <li><a href="/shetland?location=shetland+scotland">The Shetland Isles, Scotland</a></li>
                <li><a href="/snowdonia?location=blaenau-ffestiniog">Snowdonia National Park, Wales</a></li>
            </ol>
        </div>
        <div class="col-md-4">
            <h4>Fisheries</h4>
            <ol class="list-unstyled">
                <%  @fisheries.each do | fishery | %>
                    <li><a href="<%= fishery_path fishery %>"><%= fishery.name %></span></a></li>
                <% end %>
            </ol>
        </div>
        <div class="col-md-3">
            <h4>Waters</h4>
            <ol class="list-unstyled">
                <%  @waters.each do | water| %>
                    <li><a href="<%= fishery_water_path water.fishery, water %>"><%= water.name %></a></li>
                <% end %>
            </ol>
        </div>
    </div>
</section>
