<% if !@fisheries.nil? && @fisheries.exists? %>
    <% @fisheries.each do | fishery | %>
        <div class="simple-card col-md-4 col-sm-12">
            <a href="<%=fishery_path fishery %>">
                <% image_styles = (fishery.waters.last && fishery.waters.last.images.first)? '' : 'missing-image max-width-54 p-top5 p-bottom5' %>
                <% image_src = (fishery.waters.last && fishery.waters.last.images.first)? fishery.waters.last.images.first.image.path(:original) : '/images/missing.png' %>
                <img src="<%= "https://#{Rails.application.config.imgix[:source]}#{image_src}?fit=crop&q=0&w=650&h=350" %>" class="img-responsive img-centered <%= image_styles %>" alt="<%= fishery.name %>">
            <div class="caption">
                <h4><%= truncate(fishery.name, length: 28)%></h4>
                <p class="text-muted"><%= fishery.address.short %></p>
            </div>
            </a>
        </div>
    <% end %>
<% end %>
