 <div id="carousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <% locals[:photos].length.times do |i| %>
        <li data-target="#carousel" data-slide-to="<%=i%>" <%=(i == 0)? 'class=active' : '' %>></li>
    <% end %>
  </ol>

  <div class="carousel-inner" role="listbox">
    <% locals[:photos].each_with_index do |photo, i|
      image_src = "https://#{Rails.application.config.imgix[:source]}#{ photo.image.path(:original)}"
    %>
      <img alt="<%= @water.name %>" srcset="
      <%= image_src %>?auto=enhance&amp;fit=crop&amp;w=645&amp;h=645 645w,
      <%= image_src %>?auto=enhance&amp;fit=crop&amp;w=725&amp;h=725  725w,
      <%= image_src %>?auto=enhance&amp;fit=clip&amp;w=965 965w,
      <%= image_src %>?auto=enhance&amp;fit=clip&amp;w=1065 1065w,
      <%= image_src %>?auto=enhance&amp;fit=clip&amp;w=1225 1225w,
      <%= image_src %>?auto=enhance&amp;fit=clip&amp;w=1920 1920w"
      sizes="100vw"
      src="<%= image_src %>?auto=enhance&amp;fit=clip %>" class="img-responsive center-block" >
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
