<% if !locals[:waters].nil? && locals[:waters].exists? %>
    <% locals[:waters].each do | water | %>
        <div class="simple-card col-md-4 col-sm-12">
            <a href="<%= fishery_water_path water.fishery, water %>" class="explore-link" >
                <% image_styles = (water.images.first)? '' : 'missing-image max-width-54 p-top5 p-bottom5' %>
                <% image_src = (water.images.first)? water.images.first.image.path(:original): '/images/missing.png' %>
                <img src="<%= "https://#{Rails.application.config.imgix[:source]}#{image_src}?fit=crop&w=650&h=350" %>" class="img-responsive img-centered <%= image_styles %>" alt="<%= water.name %>">
            <div class="caption">
                <h4><%= water.name %></h4>
                <p class="text-muted"><%= water.short_address %></p>
            </div>
            </a>
        </div>
    <% end %>
<% end %>
