<div id="weather-forecast" class="pull-right" data-lat="<%=@weather.lat%>" data-lng="<%=@weather.lng%>">
<ul class="forecast text-muted">
    <li>
        <i class="wi <%=@weather.icon%> fa-2x"></i>
    </li>
    <li>
        <%=@weather.wind_speed%> mph <i class="wi wi-strong-wind"></i>
    </li>
    <li>
        <%=@weather.wind_direction_string%>
        <i class="fa fa-location-arrow fa-2x" style="transform: rotate(<%=@weather.wind_direction%>deg);" aria-hidden="true"></i>
    </li>
    <li>
        <%=@weather.fahrenheit %>
        <i class="wi wi-fahrenheit fa-2x"></i>
    </li>
</ul>

</div>