<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript">
var geocoder = new google.maps.Geocoder();

function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      console.log (responses[0].address_components);
      console.log (responses[0].address_components[0].long_name);
      console.log (responses[0].address_components[1].long_name);
      console.log (responses[0].address_components[2].long_name);
      console.log (responses[0].address_components[3].long_name);
      console.log (responses[0].address_components[4].long_name);
      
      
      street = [
        responses[0].address_components[0].long_name,
        responses[0].address_components[1].long_name
      ].join(', ')

      address_components = responses[0].address_components
      address_components_number = address_components.length
      for (index = 0; index < address_components_number; ++index) {
        if (address_components[index].types[0] == "administrative_area_level_2") {
          region = address_components[index].long_name
          updateRegion(region);
        }
        if (address_components[index].types[0] == "country") {
          country = address_components[index].long_name
          updateCountry(country);
        }
        if (address_components[index].types[0] == "postal_code") {
          postcode = address_components[index].long_name
          updatePostCode(postcode);
        }
      }

      updateStreet(street);
      updateMarkerAddress(responses[0].formatted_address);

    } else {
      updateMarkerAddress('Cannot determine address at this location.');
    }
  });
}

function updateMarkerStatus(str) {
  document.getElementById('markerStatus').innerHTML = str;
}

function updateMarkerPosition(latLng) {
  document.getElementById('fishery_lat_lng').value = [
    latLng.lat(),
    latLng.lng()
  ].join(', ');
}

function updateStreet(street) {
  document.getElementById('fishery_street').value = street;
}

function updatePostCode(postcode) {
  document.getElementById('fishery_postcode').value = postcode;
}

function updateCountry(country) {
  document.getElementById('fishery_country').value = country;
}

function updateRegion(region) {
  document.getElementById('fishery_region').value = region;
}

function updateMarkerAddress(str) {
  document.getElementById('address').innerHTML = str;
}

function initialize() {
  var latLng = new google.maps.LatLng(-34.397, 150.644);
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: latLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  var marker = new google.maps.Marker({
    position: latLng,
    title: 'Fishery',
    map: map,
    draggable: true
  });
  
  // Update current position info.
  updateMarkerPosition(latLng);
  geocodePosition(latLng);
  
  // Add dragging event listeners.
  google.maps.event.addListener(marker, 'dragstart', function() {
    updateMarkerAddress('Dragging...');
  });
  
  google.maps.event.addListener(marker, 'drag', function() {
    updateMarkerStatus('Dragging...');
    updateMarkerPosition(marker.getPosition());
  });
  
  google.maps.event.addListener(marker, 'dragend', function() {
    updateMarkerStatus('Drag ended');
    geocodePosition(marker.getPosition());
  });
}

// Onload handler to fire off the app.
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<%= form_for(@fishery, :html => {:role => "form"}) do |f| %>
  <% if @fishery.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@fishery.errors.count, "error") %> prohibited this fishery from being saved:</strong>
      <ul>
      <% @fishery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="fishery_name">Fishery Location</label>
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
    <div id="infoPanel">
      <b>Marker status:</b>
      <div id="markerStatus"><i>Click and drag the marker.</i></div>
      <div class="form-group">
        <label for="fishery_lat_lng">Latitude,Longitude</label>
        <%= f.text_field :lat_lng, class: "form-control", id: "fishery_lat_lng", placeholder: "Enter longitude"%>
    </div>
    <div class="form-group">
      <label for="fishery_street">Street</label>
      <%= f.text_field :street, class: "form-control", id:"fishery_street", placeholder: "Street"%>
    </div>
    <div class="form-group">
      <label for="fishery_region">County</label>
      <%= f.text_field :region, class: "form-control", id:"fishery_region", placeholder: "County"%>
    </div>
    <div class="form-group">
      <label for="fishery_country">Country</label>
      <%= f.text_field :country, class: "form-control", id:"fishery_country", placeholder: "Country"%>
    </div>
    <div class="form-group">
      <label for="fishery_postcode">Postcode</label>
      <%= f.text_field :postcode, class: "form-control", id:"fishery_postcode", placeholder: "Postcode"%>
    </div>
      <b>Closest matching address:</b>
      <div id="address"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="fishery_name">Fishery Name</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter fishery name"%>
  </div>
  <div class="form-group">
    <label for="fishery_contact_name">Contact</label>
    <%= f.text_field :contact_name, class: "form-control", placeholder: "Enter contact name"%>
  </div>
  <div class="form-group">
    <label for="fishery_line2">Line Two</label>
    <%= f.text_field :line2, class: "form-control", id:"fishery_line2", placeholder: "Line two"%>
  </div>
  <div class="form-group">
    <label for="fishery_telephone">Telephone Number</label>
    <%= f.text_field :telephone, class: "form-control", id:"fishery_telephone", placeholder: "Telephone Number"%>
  </div>
  <div class="form-group">
    <label for="fishery_email">Email Address</label>
    <%= f.text_field :email, class: "form-control", id:"fishery_email", placeholder: "Email Address"%>
  </div>
  <div class="form-group"> 
    <label for="fishery_insects">Natural insect life</label>
    <%= collection_check_boxes(:fishery, :insect_ids, Insect.all, :id, :name) do |b|%>
    <div class="checkbox">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
  </div>
  <div class="form-group"> 
    <label for="fishery_species">Fish Species</label>
    <%= collection_check_boxes(:fishery, :species_ids, Species.all, :id, :name) do |b|%>
    <div class="checkbox">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
  </div>
  <div class="form-group">
    <label for="fishery_description">Description</label>
    <%= f.text_area :description, class: "form-control", placeholder: "Enter descripiton", size: "24x6"%>
  </div>
  <div class="form-group">
    <label for="fishery_record">Record</label>
    <%= f.text_field :record, class: "form-control", placeholder: "Enter fishery record"%>
  </div>
  <div class="form-group">
    <label for="fishery_prices">Prices</label>
    <%= f.text_field :prices, class: "form-control", placeholder: "Enter prices"%>
  </div>
  <div class="form-group">
    <label for="fishery_season">Season</label>
    <%= f.text_field :season, class: "form-control", placeholder: "Enter season"%>
  </div>
  <div class="form-group">
    <label for="fishery_facilities">Facilities</label>
    <%= f.text_field :facilities, class: "form-control", placeholder: "Enter facilities"%>
  </div>

    <%= button_tag "Submit", class: "btn btn-default" %>
<% end %>