<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript">
  var geocoder = new google.maps.Geocoder();
  
  function getLatLng() {
    if(document.getElementById('fishery_lat_lng').value.length > 0 ) {
      return document.getElementById('fishery_lat_lng').value.split(','); 
    }
    return [ '54.43869834845736', '-2.2472353515624945']
  }

  function updateMarkerPosition(latLng) {
    document.getElementById('fishery_lat_lng').value = [
      latLng.lat(),
      latLng.lng()
    ].join(', ');
  }

  function initialize() {
    latLng = getLatLng();
    var latLng = new google.maps.LatLng(latLng[0],latLng[1]);
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      center: latLng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker = new google.maps.Marker({
      position: latLng,
      title: 'Fishery',
      map: map,
      draggable: true
    });

    // Update current position info.
    updateMarkerPosition(latLng);
    // Add dragging event listeners.
    google.maps.event.addListener(marker, 'drag', function() {
      updateMarkerPosition(marker.getPosition());
    });
  }
  // Onload handler to fire off the app.
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<%= form_for(@fishery, :html => {:role => "form"}) do |f| %>
  <% if @fishery.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@fishery.errors.count, "error") %> prohibited this fishery from being saved:</strong>
      <ul>
      <% @fishery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="fishery_name">Fishery Name</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter fishery name"%>
  </div>
  <div class="form-group">
    <label for="fishery_contact_name">Contact</label>
    <%= f.text_field :contact_name, class: "form-control", placeholder: "Enter contact name"%>
  </div>
  <div class="form-group">
    <label for="fishery_name">Fishery Location</label>
      <div id="map" style='width: 600px; height: 400px;'></div>
      <div class="form-group">
        <label for="fishery_lat_lng">Latitude,Longitude</label>
        <%= f.text_field :lat_lng, class: "form-control", id: "fishery_lat_lng", placeholder: "Enter longitude"%>
      </div>
    <div class="form-group">
      <label for="fishery_street">Street</label>
      <%= f.text_field :street, class: "form-control", id:"fishery_street", placeholder: "Street"%>
    </div>
    <div class="form-group">
      <label for="fishery_line2">Line Two</label>
      <%= f.text_field :line2, class: "form-control", id:"fishery_line2", placeholder: "Line two"%>
    </div>
    <div class="form-group">
      <label for="fishery_region">County</label>
      <%= f.text_field :region, class: "form-control", id:"fishery_region", placeholder: "County"%>
    </div>
    <div class="form-group">
      <label for="fishery_country">Country</label>
      <%= f.text_field :country, class: "form-control", id:"fishery_country", placeholder: "Country"%>
    </div>
    <div class="form-group">
      <label for="fishery_postcode">Postcode</label>
      <%= f.text_field :postcode, class: "form-control", id:"fishery_postcode", placeholder: "Postcode"%>
    </div>
  </div>
  <div class="form-group">
    <label for="fishery_telephone">Telephone Number</label>
    <%= f.text_field :telephone, class: "form-control", id:"fishery_telephone", placeholder: "Telephone Number"%>
  </div>
  <div class="form-group">
    <label for="fishery_mobile">Mobile Number</label>
    <%= f.text_field :mobile, class: "form-control", id:"fishery_mobile", placeholder: "Mobile Telephone Number"%>
  </div>
  <div class="form-group">
    <label for="fishery_email">Email Address</label>
    <%= f.text_field :email, class: "form-control", id:"fishery_email", placeholder: "Email Address"%>
  </div>
  <div class="form-group">
    <label for="fishery_email">Website</label>
    <%= f.text_field :website, class: "form-control", id:"fishery_website", placeholder: "Website"%>
  </div>
  <div class="form-group"> 
    <label for="fishery_insects">Natural insect life</label>
    <%= collection_check_boxes(:fishery, :insect_ids, Insect.all, :id, :name) do |b|%>
    <div class="checkbox">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
  </div>
  <div class="form-group"> 
    <label for="fishery_species">Fish Species</label>
    <%= collection_check_boxes(:fishery, :species_ids, Species.all, :id, :name) do |b|%>
    <div class="checkbox">
      <%= b.check_box %>
      <%= b.label %>
    </div>
    <% end %>
  </div>
  <div class="form-group">
    <label for="fishery_description">Description</label>
    <%= f.text_area :description, class: "form-control", placeholder: "Enter descripiton", size: "24x6"%>
  </div>
  <div class="form-group">
    <label for="fishery_record">Record</label>
    <%= f.text_field :record, class: "form-control", placeholder: "Enter fishery record"%>
  </div>
  <div class="form-group">
    <label for="fishery_prices">Prices</label>
    <%= f.text_field :prices, class: "form-control", placeholder: "Enter prices"%>
  </div>
  <div class="form-group">
    <label for="fishery_season">Season</label>
    <%= f.text_field :season, class: "form-control", placeholder: "Enter season"%>
  </div>
  <div class="form-group">
    <label for="fishery_facilities">Facilities</label>
    <%= f.text_field :facilities, class: "form-control", placeholder: "Enter facilities"%>
  </div>

    <%= button_tag "Submit", class: "btn btn-default" %>
<% end %>