<%= render 'navigation' %>
<header style="background-image: url(<%=(@water.images.first)? @water.images.first.image.url(:large) : '/images/missing.png'%>)" class="img-responsive img-centered" alt="<%= @water.name %>">
    <div class="image-trans">
        <div class="container">
            <div class="intro-text" style="<%=(@image_attribution.blank?)? 'padding-top: 240px;' : ''%>">
                <div class="intro-heading"><%= @fishery.name %></div>
                <div class="intro-lead-in">
                    Explore the rest of <a href="/search?location=<%=u"#{@fishery.address.short}"%>"><%= @fishery.address.short %></a>
                </div>
            </div>
        </div>
        <% if !@image_attribution.blank? %>
            <div class="attribution">
               Image &copy; Copyright
                <a href="<%= @image_attribution[:profile_url] %>"><%= @image_attribution[:name] %></a>
                and licensed for reuse under this
                <a rel="license" href="<%= @image_attribution[:licence] %>">Creative Commons Licence</a>.
                <a href="<%= @image_attribution[:photo_url]%>">More information about this image at Geograph</a>.
            </div>
        <% end %>
    </div>
</header>
<section id="about-the-fishery">
    <div class="container">
        <div class="row">
         <h4 class="m-bottom24">About the fishery</h4>
            <div class="col-md-3 remove-padding-left remove-padding-right p-bottom10">
                <%= render '/shared/water_type', locals: { category: @water_types.map{|wt| wt.capitalize }.to_sentence } %>
                <%= render '/shared/fish_species', locals: { fish: @species.map{|s| s.capitalize }.to_sentence } %>
                <%= render '/shared/location', locals: { location: @fishery.address.short } %>
            </div>
            <div class="col-md-9">
                <% if !@fishery.description.blank? %>
                    <%= simple_format @fishery.description %>
                <% end %>
            </div>
        </div>
    </div>
</section>
<section id="waters" class="bg-light-gray">
    <div class="container">
        <div class="row">
          <h4>Waters</h4>
          <div id="weather-forecast" data-lat="<%=@fishery.geographic_center_of_waters[0]%>" data-lng="<%=@fishery.geographic_center_of_waters[1]%>">
          </div>
        </div>
        <div class="row">
            <div id="map" data-zoom="<%=@fishery.map_zoom_level%>" data-lat="<%=@fishery.geographic_center_of_waters[0]%>" data-lng="<%=@fishery.geographic_center_of_waters[1]%>"></div>
            <div id="results-container">
                <%= render '/search/results' %>
            </div>
        </div>
    </div>
</section>
<section id="location">
    <div class="container">
        <h4>Location</h4>
        <div id="location-map" data-lat="<%=@fishery.latitude %>" data-lng="<%=@fishery.longitude%>"></div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <h4>Contact Details</h4>
        <p><%= @fishery.name %></p>
        <p><%= @fishery.contact_details.name %></p>
        <p><%= @fishery.address.formatted %></p>
        <p><%= @fishery.contact_details.telephone %></p>
        <p><%= @fishery.contact_details.mobile %></p>
        <p><a href="mailto:<%= @fishery.contact_details.email %>?Subject=Enquiry regarding fishing at <%= @water.name %>"><%= @fishery.contact_details.email %></a></p>
        <p><a href="<%= @fishery.contact_details.website %>"><%= @fishery.contact_details.website %></a></p>
    </div>
</section>
<script type="application/ld+json">
    <%= raw render 'schema_org.json.jbuilder' %>
</script>






