<p id="notice"><%= notice %></p>

<h1>Fishery Details</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Street</th> 
      <th>Line Two</th>
      <th>County</th>
      <th>Country</th>
      <th>Postcode</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Insects</th>
      <th>Longitude</th>
      <th>Latitude</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @fishery.id %></td>
        <td><%= @fishery.name %></td>
        <td><%= @fishery.street %></td>
        <td><%= @fishery.line2 %></td>
        <td><%= @fishery.region %></td>
        <td><%= @fishery.country %></td>
        <td><%= @fishery.postcode %></td>
        <td><%= @fishery.telephone %></td>
        <td><%= @fishery.email %></td>
        <td><%= @fishery.insects.map {|i| i.name}.join(', ') %></td>
        <td><%= @fishery.lng %></td>
        <td><%= @fishery.lat %></td>
      </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_fishery_path(@fishery) %> |
<%= link_to 'Back', fisheries_path %>
<%= render '/waters/form' %>
<% unless @fishery.waters.first.id.nil? %>
  <%= render 'list_fishery_waters' %>
<% end %>