<p id="notice"><%= notice %></p>

<h1>Fishery Details</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Street</th> 
      <th>Line Two</th>
      <th>County</th>
      <th>Country</th>
      <th>Postcode</th>
      <th>Telephone</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Website</th>
      <th>Fish Species</th>
      <th>Insects</th>
      <th>Latitude,Longitude</th>
      <th>Description</th>
      <th>Prices</th>
      <th>Records</th>
      <th>Season</th>
      <th>Facilities</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @fishery.id %></td>
        <td><%= @fishery.name %></td>
        <td><%= @fishery.contact_name %></td>
        <td><%= @fishery.street %></td>
        <td><%= @fishery.line2 %></td>
        <td><%= @fishery.region %></td>
        <td><%= @fishery.country %></td>
        <td><%= @fishery.postcode %></td>
        <td><%= @fishery.telephone %></td>
        <td><%= @fishery.mobile %></td>
        <td><%= @fishery.email %></td>
        <td><%= @fishery.website %></td>
        <td><%= @fishery.species.map {|i| i.name.capitalize}.join(', ') %></td>
        <td><%= @fishery.insects.map {|i| i.name.capitalize}.join(', ') %></td>
        <td><%= @fishery.lat_lng %></td>
        <td><%= @fishery.description %></td>
        <td><%= @fishery.prices %></td>
        <td><%= @fishery.record %></td>
        <td><%= @fishery.season %></td>
        <td><%= @fishery.facilities %></td>
      </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_fishery_path(@fishery) %> |
<%= link_to 'Back', fisheries_path %>