<p id="notice"><%= notice %></p>

<h1>Fishery Details</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Street</th> 
      <th>Line Two</th>
      <th>City</th>
      <th>County</th>
      <th>Postcode</th>
      <th>Telephone</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @fishery.id %></td>
        <td><%= @fishery.name %></td>
        <td><%= @fishery.street %></td>
        <td><%= @fishery.line2 %></td>
        <td><%= @fishery.city %></td>
        <td><%= @fishery.region %></td>
        <td><%= @fishery.postcode %></td>
        <td><%= @fishery.telephone %></td>
      </tr>
  </tbody>
</table>




<%= link_to 'Edit', edit_fishery_path(@fishery) %> |
<%= link_to 'Back', fisheries_path %>
