<%= render "navigation" %>
<section id="fisheries" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Fisheries</h3>
                <h3 class="section-subheading text-muted">Find new fisheries to explore</h3>
            </div>
        </div>
        <div class="row">
        <% if !@fisheries.nil? && @fisheries.exists? %>
            <% @fisheries.each do | fishery | %>
                <% image_src = (fishery.waters.last && fishery.waters.last.images.first)? fishery.waters.last.images.first.image.url(:medium) : '/images/missing.png' %>
                <% image_styles = (fishery.waters.last && fishery.waters.last.images.first)? '' : 'missing-image' %>
                <div class="col-md-4 col-sm-12 explore-item">
                    <a href="/fisheries/<%= fishery.slug %>" class="explore-link" >
                        <img src="<%= image_src %>" class="img-responsive img-centered <%= image_styles %>" alt="<%= fishery.name %>" itemprop="contentUrl">
                    </a>
                    <div class="explore-caption">
                        <h4><%= fishery.name %></h4>
                        <p class="text-muted"><%= fishery.address.short %></p>
                    </div>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
</section>
